<section class="u-clearfix u-white u-section-1" id="carousel_69e4">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div
                        class="u-align-left u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-25 u-white u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-text u-text-1"> He buscado y seleccionado la mejor información para
                                ti.&nbsp;<br>Recuerda
                                que como tú siempre estoy aprendiendo&nbsp;
                            </h2>
                        </div>
                    </div>
                    <div
                        class="u-align-center u-container-style u-layout-cell u-left-cell u-size-35 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <img class="u-flip-horizontal u-image u-image-contain u-image-1"
                                src="img/Estudiar.jpg" data-image-width="881" data-image-height="1080">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="u-align-center u-clearfix u-white u-section-2" id="iframeBlog">
    <h2>Sexting</h2>
    <iframe id="iframeEl" </iframe>width="800px" height="400px"></iframe>
</div>
<footer>
<!--src="https://www.eleconomista.com.mx/tecnologia/que-es-sexting-20200126-0002.html" -->
</footer>