<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/styles.css" media="screen">
        <script src="/js/script.js"></script>
        <title>ERROR</title>
    </head>
    <body>
        <div id="container_error">
            <div id="login_error">
                <h2>ERROR</h2>
                <p id="error_text">No se ha podido iniciar sesión.
                    <br> Por favor, vuelva a intentarlo.</p>
                <div id="div_button">
                    <a id="link_back" href="/inicio_sesion">Volver</a>
                </div>
            </div>
        </div>
    </body>
</html>