<section class="u-align-left u-clearfix u-section-1" id="carousel_637d">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">FAQ</h2>
        <p class="u-text u-text-2">En esta sección podrás encontrar un poco acerca de MON, de lo que sabe y como interactuar con él. 
        </p>
        <img class="u-image u-image-1" src="img/FAQ-removebg-preview.png" data-image-width="503"
            data-image-height="482" data-animation-name="" data-animation-duration="0" data-animation-direction="">
        <div class="u-accordion u-faq u-spacing-20 u-accordion-1">
            <div class="u-accordion-item">
                <a class="active u-accordion-link u-border-1 u-border-active-grey-75 u-border-grey-15 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style u-text-black u-accordion-link-1"
                    id="link-accordion-6327" aria-controls="accordion-6327" aria-selected="true">
                    <span class="u-accordion-link-text"> ¿Qué es MON? </span><span
                        class="u-accordion-link-icon u-icon u-text-black u-icon-1"><svg class="u-svg-link"
                            preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
                            <use xlink:href="#svg-2924"></use>
                        </svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-2924" style="">
                            <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                        </svg></span>
                </a>
                <div class="u-accordion-active u-accordion-pane u-container-style u-accordion-pane-1"
                    id="accordion-6327" aria-labelledby="link-accordion-6327">
                    <div class="u-container-layout u-container-layout-1">
                        <div class="fr-view u-clearfix u-rich-text u-text">
                            <p>MON  es un chatbot, es decir, es un programa informático que simula y procesa conversaciones humanas, 
                                permitiendo que los humanos interactúen con dispositivos digitales como si se estuvieran comunicando con una persona real.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-accordion-item">
                <a class="u-accordion-link u-border-1 u-border-active-grey-75 u-border-grey-15 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style u-text-black u-accordion-link-2"
                    id="link-accordion-4aab" aria-controls="accordion-4aab" aria-selected="false">
                    <span class="u-accordion-link-text"> ¿Y si MON no sabe la respuesta?</span><span
                        class="u-accordion-link-icon u-icon u-text-black u-icon-2"><svg class="u-svg-link"
                            preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
                            <use xlink:href="#svg-d840"></use>
                        </svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-d840" style="">
                            <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                        </svg></span>
                </a>
                <div class="u-accordion-pane u-container-style u-accordion-pane-2" id="accordion-4aab"
                    aria-labelledby="link-accordion-4aab">
                    <div class="u-container-layout u-container-layout-2">
                        <div class="fr-view u-clearfix u-rich-text u-text">
                            <p>MON conoce muchos temas se sexualidad, aún así es posible que no conozca la respuesta, en este caso nos enviará una alerta y junto con un experto buscaremos la mejor respuesta para ti. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-accordion-item">
                <a class="u-accordion-link u-border-1 u-border-active-grey-75 u-border-grey-15 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style u-text-black u-accordion-link-3"
                    id="link-accordion-eb1f" aria-controls="accordion-eb1f" aria-selected="false">
                    <span class="u-accordion-link-text"> ¡MON no me entiende!</span><span
                        class="u-accordion-link-icon u-icon u-text-black u-icon-3"><svg class="u-svg-link"
                            preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
                            <use xlink:href="#svg-92e4"></use>
                        </svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-92e4" style="">
                            <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                        </svg></span>
                </a>
                <div class="u-accordion-pane u-container-style u-accordion-pane-3" id="accordion-eb1f"
                    aria-labelledby="link-accordion-eb1f">
                    <div class="u-container-layout u-container-layout-3">
                        <div class="fr-view u-clearfix u-rich-text u-text">
                            <p>Recuerda que MON no es una persona, intenta formular tu pregunta en una sola oración. También intenta escribir lo más correcto posible para que la interacción fluya mejor. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-white u-section-2" id="sec-8479">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-accordion u-spacing-20 u-accordion-1">
            <div class="u-accordion-item">
                <a class="active u-accordion-link u-border-1 u-border-active-black u-border-black u-border-hover-black u-button-style u-text-active-black u-text-body-color u-text-hover-black u-accordion-link-1"
                  id="link-accordion-7c0e" aria-controls="accordion-7c0e" aria-selected="true">
                  <span class="u-accordion-link-text">¿MON sabe quién soy?</span><span
                    class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link"
                      preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.656 490.656" style="">
                      <use xlink:href="#svg-970d"></use>
                    </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                      xml:space="preserve" class="u-svg-content" viewBox="0 0 490.656 490.656" x="0px" y="0px" id="svg-970d"
                      style="enable-background:new 0 0 490.656 490.656;">
                      <g>
                        <g>
                          <path
                            d="M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z">
                          </path>
                        </g>
                      </g>
                    </svg></span>
                </a>
                <div
                  class="u-accordion-active u-accordion-pane u-align-left u-container-style u-shape-rectangle u-accordion-pane-1"
                  id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
                  <div class="u-container-layout u-container-layout-1">
                    <p>
                      Tu privacidad es primordial para nosotros, por lo que no guardaremos nada que tú no quieras que se
                      guarde.
                      El inicio de sesión es unicamente si deseas ver artículos de los temas que has buscado, recuerda que
                      este es opcional.
                    </p>
                  </div>
                </div>
              </div>
              <div class="u-accordion-item">
                <a class="u-accordion-link u-border-1 u-border-active-black u-border-black u-border-hover-black u-button-style u-text-active-black u-text-body-color u-text-hover-black u-accordion-link-2"
                  id="link-accordion-05cb" aria-controls="accordion-05cb" aria-selected="false">
                  <span class="u-accordion-link-text">¿Mis papás pueden ver lo que busco aquí?</span><span
                    class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-2"><svg class="u-svg-link"
                      preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.656 490.656" style="">
                      <use xlink:href="#svg-6247"></use>
                    </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                      xml:space="preserve" class="u-svg-content" viewBox="0 0 490.656 490.656" x="0px" y="0px" id="svg-6247"
                      style="enable-background:new 0 0 490.656 490.656;">
                      <g>
                        <g>
                          <path
                            d="M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z">
                          </path>
                        </g>
                      </g>
                    </svg></span>
                </a>
                <div class="u-accordion-pane u-align-left u-container-style u-shape-rectangle u-accordion-pane-2"
                  id="accordion-05cb" aria-labelledby="link-accordion-05cb">
                  <div class="u-container-layout u-container-layout-2">
                    <p>
                      MON esta comprometido con tu privacidad por lo que cada vez que cierres el navegador los datos serán
                      eliminados a menos de que tengas una cuenta con nosotros.
                    </p>
                  </div>
                </div>
              </div>
              <div class="u-accordion-item u-accordion-item-3">
                <a class="u-accordion-link u-border-1 u-border-active-black u-border-black u-border-hover-black u-button-style u-text-active-black u-text-body-color u-text-hover-black u-accordion-link-3"
                  id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                  <span class="u-accordion-link-text">¿Cómo consulto los centros médicos cercanos?</span><span
                    class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-3"><svg class="u-svg-link"
                      preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.656 490.656" style="">
                      <use xlink:href="#svg-612c"></use>
                    </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                      xml:space="preserve" class="u-svg-content" viewBox="0 0 490.656 490.656" x="0px" y="0px" id="svg-612c"
                      style="enable-background:new 0 0 490.656 490.656;">
                      <g>
                        <g>
                          <path
                            d="M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z">
                          </path>
                        </g>
                      </g>
                    </svg></span>
                </a>
                <div class="u-accordion-pane u-align-left u-container-style u-shape-rectangle u-accordion-pane-3"
                  id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                  <div class="u-container-layout u-container-layout-3">
                    <p>
                      Es muy fácil, lo único que debes hacer es solicitarlo y darnos permiso de saber tu ubicación aproximada.
                    </p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>