<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>INICIO</title>
    <link rel="stylesheet" href="css/main.css" media="screen">
    <link rel="stylesheet" href="css/INICIO.css" media="screen">
    <link rel="stylesheet" href="css/FAQ.css" media="screen">
    <link rel="stylesheet" href="css/BLOG.css" media="screen">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="img/chatbotIcono.ico">
    <script class="u-script" type="text/javascript" src="js/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/main.js" defer=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="INICIO">
    <meta property="og:type" content="website">
</head>
<body>
    <header class="u-clearfix u-header u-header" id="sec-b8ca">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a class="u-image u-logo u-image-1" data-image-width="558" data-image-height="232">
                <img src="img/Capturadepantalla20.png" class="u-logo-image u-logo-image-1">
            </a>
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                    <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24">
                            <use xlink:href="#menu-hamburger"></use>
                        </svg>
                        <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-custom-color-3 u-text-hover-palette-2-base"
                                href="/inicio" style="padding: 10px 20px;">INICIO</a>
                        </li>
                        <% var selec = 0; %>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-custom-color-3 u-text-hover-palette-2-base"
                                 href="#" id="id" name="id" onclick="mostrarifra()" style="padding: 10px 20px;">FAQ</a>
                        </li>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-custom-color-3 u-text-hover-palette-2-base"
                                href="#" onclick="" style="padding: 10px 20px;">BLOG</a>
                        </li>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-custom-color-3 u-text-hover-palette-2-base"
                                href="/inicio_sesion" style="padding: 10px 20px;">INICIAR SESION</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                        >INICIO</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/faq">FAQ</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/blog">BLOG</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                        href="/inicio_sesion">INICIAR
                                        SESION</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <iframe id="ifra" name="ifra"></iframe>
</body>
</html>