<section class="u-clearfix u-section-1" id="carousel_09e5">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-shape-rectangle u-size-18 u-layout-cell-1">
                        <div class="u-border-20 u-border-custom-color-2 u-container-layout u-container-layout-1">
                            <img class="u-image u-image-1" src="img/Hola-removebg-preview.png"
                                data-image-width="558" data-image-height="447">
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-42 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h4 class="u-custom-font u-font-roboto u-text u-text-1">Mi nombre es MON</h4>
                            <p
                                class="u-custom-font u-font-roboto u-text u-text-default u-text-grey-40 u-text-2">
                                MON es un chatbot que responde preguntas relacionadas con la sexualidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-section-2" id="carousel_0aad">
    <h2 class="u-custom-font u-font-montserrat u-text u-text-1"> ¡Estoy aquí para resolver todas tu dudas!<br>
    </h2>
    <div class="u-custom-color-3 u-expanded-width u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div
                class="u-align-center u-container-style u-grey-5 u-list-item u-radius-50 u-repeater-item u-shape-round">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"><span
                        class="u-file-icon u-flip-horizontal u-icon u-icon-1"><img src="img/2721119.png"
                            alt=""></span>
                    <h5 class="u-custom-font u-font-montserrat u-text u-text-2"> Sexualidad</h5>
                    <p class="u-text u-text-3">¿Tienes dudas relacionadas con el sexo, la sexualidad o de tu identidad sexual?</p>
                </div>
            </div>
            <div
                class="u-align-center u-container-style u-grey-5 u-list-item u-radius-50 u-repeater-item u-shape-round">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"><span
                        class="u-file-icon u-flip-horizontal u-icon u-icon-2"><img src="img/2372713.png"
                            alt=""></span>
                    <h5 class="u-custom-font u-font-montserrat u-text u-text-4">Embarazos</h5>
                    <p class="u-text u-text-5">¿Piensas que podrías estar embarazada? ¿No conoces cuál es el mejor método
                        anticonceptivo para ti?</p>
                </div>
            </div>
            <div
                class="u-align-center u-container-style u-grey-5 u-list-item u-radius-50 u-repeater-item u-shape-round">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"><span
                        class="u-file-icon u-flip-horizontal u-icon u-icon-3"><img src="img/2966327.png"
                            alt=""></span>
                    <h5 class="u-custom-font u-font-montserrat u-text u-text-6">Salud</h5>
                    <p class="u-text u-text-7">¿Has notado cambios en ti? ¿Crees que podrías tener alguna enfermedad de transmisión sexual?</p>
                </div>
            </div>
        </div>
    </div>
    <img class="u-image u-image-default u-image-1" src="img/Preguntas-removebg-preview.png" alt=""
        data-image-width="538" data-image-height="463">
</section>