@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);
@import url(https://zavoloklom.github.io/material-design-iconic-font/css/docs.md-iconic-font.min.css);

/* Estilos para el botón color lila */
.btn-bd-primary{
    font-weight: 600;
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
}

.btn-bd-primary:hover, btn-bd-primary:active{
    color: #fff;
    background-color: #61428f;
    border-color: #61428f;
}

body{
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.95);
}

.u-body{
    position: relative;
}

#container_error{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

#login_error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left:200;
    height: 250px;
    width: 400px;
    background-color: #af5454;
    border-radius: 10px;
}

#error_text{
    font-size: 15px;
    font-weight: 600;
    color: #31b5dd;
}

#div_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    background-color: hwb(192 16% 24% / 0.815);
    border-radius: 10px;
}

#link_back{
    font-size: 20px;
    color:rgba(255, 255, 255, 0.95);
    text-decoration: none;
}

.oculto{
    visibility: hidden; /* Al alterar las márgenes y el height no es necesaria esta propiedad */
    opacity: 0;
    height: 0;
    padding: 0;
  }
  
.visible{
    visibility: visible; /* Al alterar las márgenes y el height no es necesaria esta propiedad */
    opacity: 1;
    height: auto;
    padding: 15px 0px;
    transition: opacity 2s linear;
    filter: blur(6px);
}